img.logo{
    width: 200px;
    margin: 0px 0 0px 0;
}

div {
    padding: 0px;
}

div.sig-div-container{
    float: left;
    width: 350px;
}

div.sig-div-position{
    margin: 0 0 0px 0;
}
div.sig-div-user{
    margin: 20px 0 20px 0;
}

div.sig-div-name{
    font-size: medium;
    font-weight: bold;
}
.sig-span-name{
    font-size:large;
    font-weight:bold;
}
div.sig-div-logo{
    margin-top: 2em;
}
div.sig-div-address{
    margin-top: .75em;
}
div.sig-div-social{
    float: right;
    text-align: right;
}


a:link, a:visited, a:active{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-weight: bolder;
}
