
:root{
    --main-Color: #cf3338;
    --secondary-Color: #ffffff;
    --faded-Color: #54565a;
    --font-Color: #54565a;
    --font-family: 'Libre Franklin', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    font-family: 'Libre Franklin', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: small;
    color: #54565a;
}

div.sig-div-container{
    font-family: 'Libre Franklin', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: small;
    color: #54565a;
}

div.sig-div-position{
    border-bottom: 2px solid #cf3338;
}

div.sig-div-name{
    color: #cf3338;
}
a:link, a:visited, a:active{
    color: #cf3338;
}
